.venue-title {
    font-weight: 700;
    font-size: 1.1rem;
    margin-top: 0.25rem;
}

.venue-subtitle {
    font-size: 0.9rem;
    color: #6c757d;
}

.card-full {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 577px) {
  .card-full {
    max-width: 100% !important;
  }
}
.custom-icon::before {
  font-size: 2.5rem;
}
.shrink-text {
  font-size: clamp(.5rem, .8rem, 1rem); /* min, preferred, max */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip; /* no ellipsis */
}