.mainPage{
    width: 700px;
    height: 100px;
    background-color: red;
    position: absolute;
    top:100%;
    left: 50%;
    transform: translate(-50%, -50%) !important
}

.homepageTitle {
    font-family: Montserrat, sans-serif !important;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
    color: var(--primary);
}

.homepageTitleItalize {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-style: italic;
    font-size: 2.5rem;
}
